<html>
<head>
    <title>Recipe Platform</title>
<style>
    .img_side{
	float:left
	 }
</style>    
</head>
<body>
<br>
<center><font size="7" face="Monotype Corsiva"><b>Grain & Green</b></center><br>
<font size="6" face="Monotype Corsiva">
<center><img src="https://static.vecteezy.com/system/resources/previews/027/101/533/large_2x/arabic-and-middle-eastern-food-displayed-on-a-dinner-table-the-meal-includes-meat-kebab-hummus-photo.jpg" width="100%" height="70%"></center>
</font><br><br>
<center>
<img class="img_side" src="https://img.freepik.com/premium-photo/hindu-food-menu-traditional-indian-food-table_691560-5582.jpg" height=450 width=550>
<br>
<p>
  <font size=6 face="Monotype Corsiva">
  Welcome to our Millet Recipe Sharing App! Whether you're
  a seasoned chef or just starting your culinary journey,
  our platform is your go-to destination for discovering
  and sharing delicious, healthy millet-based recipes.
  Join our community to explore a variety of dishes,
  contribute your own creations, and connect with
  fellow food enthusiasts who share your love for 
  wholesome cooking.
  Let's celebrate the goodness of millet together!
  </font>
</p>
</center>
</body>
</html>
